# Test Load Data

In [1]:
import pandas as pd
import gzip

file_path = '/Users/hssingh/mafs5360-final-project/processedData_2024/stocks/0050_md_202404_202404.csv.gz'

# Load the data using pandas
with gzip.open(file_path, 'rb') as f:
    data = pd.read_csv(f)

# Print the first few rows of the data
data.columns

Index(['Unnamed: 0', 'date', 'time', 'lastPx', 'size', 'volume', 'SP5', 'SP4',
       'SP3', 'SP2', 'SP1', 'BP1', 'BP2', 'BP3', 'BP4', 'BP5', 'SV5', 'SV4',
       'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5'],
      dtype='object')

In [17]:
len('90004644')

8

In [12]:
data

,Unnamed: 0,date,time,lastPx,size,volume,SP5,SP4,SP3,SP2,...,SV5,SV4,SV3,SV2,SV1,BV1,BV2,BV3,BV4,BV5
0,0,2024-04-01,90004644,15815.0,160.0,0,15845.0,15840.0,15830.0,15825.0,...,1,31,1,2,37,226,151,262,5,2
1,1,2024-04-01,90009658,15810.0,158.0,0,15840.0,15830.0,15825.0,15820.0,...,31,1,2,37,2,122,258,5,2,83
2,2,2024-04-01,90014670,15820.0,197.0,0,15850.0,15845.0,15840.0,15830.0,...,14,1,31,1,2,73,175,150,242,5
3,3,2024-04-01,90019685,15815.0,160.0,0,15845.0,15840.0,15830.0,15825.0,...,1,31,1,2,37,123,170,152,155,2
4,4,2024-04-01,90024700,15810.0,160.0,0,15840.0,15830.0,15825.0,15820.0,...,31,1,2,37,2,105,188,155,2,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752926,752926,2024-04-30,132457612,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,3,6,24,29,9,213,304,218
752927,752927,2024-04-30,132457838,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,2,7,24,29,9,213,304,218
752928,752928,2024-04-30,132458327,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,152,7,24,29,9,213,304,218
752929,752929,2024-04-30,132458337,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,2,7,24,29,9,213,304,218
752930,752930,2024-04-30,132458443,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,32,7,24,29,9,213,304,218

In [15]:
time_value = 90004644

time_str = str(time_value).zfill(9)

In [16]:
time_str

'090004644'

In [2]:
import pandas as pd

# Sample DataFrame
df = data

def convert_time_format(time_value):    
    time_str = str(time_value).zfill(9)
    hours = int(time_str[:2])
    minutes = int(time_str[2:4])
    seconds = int(time_str[4:6])
    milliseconds = int(time_str[6:])
    
    return pd.Timestamp(year=2024, month=4, day=1, hour=hours, minute=minutes, second=seconds, microsecond=milliseconds * 1000)

# Convert time column to datetime
df['datetime'] = df['time'].apply(convert_time_format)

# Calculate differences between consecutive times
df['time_diff'] = df['datetime'].diff()

# Calculate average difference (ignoring the first NaT)
average_difference = df['time_diff'].mean()

print("Average Time Difference:", average_difference)

Average Time Difference: 0 days 00:00:00.021109265

In [15]:
df['time_diff'][66].total_seconds()

0.314

In [6]:
import pandas as pd
import gzip

file_path = '/Users/hssingh/mafs5360-final-project/processedData_2024/futuresQuotes/DBF1_md_202404_202404.csv.gz'

# Load the data using pandas
with gzip.open(file_path, 'rb') as f:
    data = pd.read_csv(f)

# Print the first few rows of the data
data.columns

Index(['date', 'time', 'askPrice5', 'askPrice4', 'askPrice3', 'askPrice2',
       'askPrice1', 'bidPrice1', 'bidPrice2', 'bidPrice3', 'bidPrice4',
       'bidPrice5', 'askSize5', 'askSize4', 'askSize3', 'askSize2', 'askSize1',
       'bidSize1', 'bidSize2', 'bidSize3', 'bidSize4', 'bidSize5', 'symbol'],
      dtype='object')

In [7]:
import pandas as pd
import gzip

file_path = '/Users/hssingh/mafs5360-final-project/processedData_2024/futuresTrades/DBF1_mdT_202404_202404.csv.gz'

# Load the data using pandas
with gzip.open(file_path, 'rb') as f:
    data = pd.read_csv(f)

# Print the first few rows of the data
data.columns

Index(['Date', 'Time', 'symbol', 'totalMatchValue', 'totalMatchSize',
       'avgMatchPx'],
      dtype='object')

In [8]:
data

,Date,Time,symbol,totalMatchValue,totalMatchSize,avgMatchPx
0,2024-04-01,90102789,DBFD4.cs,1960.0,1.0,1960.0
1,2024-04-01,90102790,DBFD4.cs,1960.0,1.0,1960.0
2,2024-04-01,90108488,DBFD4.cs,1960.0,1.0,1960.0
3,2024-04-01,90314600,DBFD4.cs,1970.0,1.0,1970.0
4,2024-04-01,90317271,DBFD4.cs,5910.0,3.0,1970.0
...,...,...,...,...,...,...
5864,2024-04-30,133848821,DBFE4.cs,2080.0,1.0,2080.0
5865,2024-04-30,134137245,DBFE4.cs,2085.0,1.0,2085.0
5866,2024-04-30,134203679,DBFE4.cs,2085.0,1.0,2085.0
5867,2024-04-30,134448966,DBFE4.cs,2080.0,1.0,2080.0
5868,2024-04-30,134459378,DBFE4.cs,2080.0,1.0,2080.0

# Build Backtesting strategy

In [2]:
data

,Unnamed: 0,date,time,lastPx,size,volume,SP5,SP4,SP3,SP2,...,SV5,SV4,SV3,SV2,SV1,BV1,BV2,BV3,BV4,BV5
0,0,2024-04-01,90004644,15815.0,160.0,0,15845.0,15840.0,15830.0,15825.0,...,1,31,1,2,37,226,151,262,5,2
1,1,2024-04-01,90009658,15810.0,158.0,0,15840.0,15830.0,15825.0,15820.0,...,31,1,2,37,2,122,258,5,2,83
2,2,2024-04-01,90014670,15820.0,197.0,0,15850.0,15845.0,15840.0,15830.0,...,14,1,31,1,2,73,175,150,242,5
3,3,2024-04-01,90019685,15815.0,160.0,0,15845.0,15840.0,15830.0,15825.0,...,1,31,1,2,37,123,170,152,155,2
4,4,2024-04-01,90024700,15810.0,160.0,0,15840.0,15830.0,15825.0,15820.0,...,31,1,2,37,2,105,188,155,2,83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752926,752926,2024-04-30,132457612,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,3,6,24,29,9,213,304,218
752927,752927,2024-04-30,132457838,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,2,7,24,29,9,213,304,218
752928,752928,2024-04-30,132458327,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,152,7,24,29,9,213,304,218
752929,752929,2024-04-30,132458337,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,2,7,24,29,9,213,304,218
752930,752930,2024-04-30,132458443,NaN,NaN,4288,15905.0,15900.0,15895.0,15890.0,...,193,202,32,7,24,29,9,213,304,218

In [7]:
!which python

/Users/hssingh/.pyenv/versions/3.7.11/bin/python

In [10]:
!pip3 install tensorflow

Requirement already satisfied: tensorflow in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (2.11.0)
Requirement already satisfied: absl-py>=1.0.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (24.3.25)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (3.8.0)
Requirement already satisfied: libclang>=13.0.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: numpy>=1.20 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (1.21.6)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (23.2)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (3.19.6)
Requirement already satisfied: setuptools in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (47.1.0)
Requirement already satisfied: six>=1.12.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (4.7.1)
Requirement already satisfied: wrapt>=1.11.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (1.62.2)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (2.11.2)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorflow) (0.34.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from astunparse>=1.6.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.32.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (3.4.4)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.2.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (2.0.0)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (6.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2024.2.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.5)
Requirement already satisfied: zipp>=0.5 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (3.15.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/hssingh/.pyenv/versions/3.7.11/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (3.2.2)

In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.optimizers import Adam

# Load the data
df = data

# Split the data into training and testing sets
train_date = '2024-04-01'
train_df = df[df['date'] < train_date]
test_df = df[df['date'] >= train_date]

# Preprocess the data
scaler = StandardScaler()
train_features = train_df[['lastPx', 'size', 'volume', 'SP5', 'SP4', 'SP3', 'SP2', 'SV5', 'SV4', 'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5']]
test_features = test_df[['lastPx', 'size', 'volume', 'SP5', 'SP4', 'SP3', 'SP2', 'SV5', 'SV4', 'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5']]

scaled_train_features = scaler.fit_transform(train_features)
scaled_test_features = scaler.transform(test_features)

train_df[['lastPx', 'size', 'volume', 'SP5', 'SP4', 'SP3', 'SP2', 'SV5', 'SV4', 'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5']] = scaled_train_features
test_df[['lastPx', 'size', 'volume', 'SP5', 'SP4', 'SP3', 'SP2', 'SV5', 'SV4', 'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5']] = scaled_test_features

# Prepare the input features and target variable
X_train = train_df[['size', 'volume', 'SP5', 'SP4', 'SP3', 'SP2', 'SV5', 'SV4', 'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5']]
y_train = train_df['lastPx']
X_test = test_df[['size', 'volume', 'SP5', 'SP4', 'SP3', 'SP2', 'SV5', 'SV4', 'SV3', 'SV2', 'SV1', 'BV1', 'BV2', 'BV3', 'BV4', 'BV5']]
y_test = test_df['lastPx']

# Create the LSTM model
model = Sequential()
model.add(LSTM(64, input_shape=(X_train.shape[1], 1), return_sequences=True))
model.add(LSTM(32))
model.add(Dense(1))
model.compile(optimizer=Adam(learning_rate=0.001), loss='mean_squared_error')

# Train the model
model.fit(X_train.values.reshape(X_train.shape[0], X_train.shape[1], 1), y_train.values, epochs=50, batch_size=32, verbose=1)

# Evaluate the model on the test set
y_pred = model.predict(X_test.values.reshape(X_test.shape[0], X_test.shape[1], 1))

# Calculate the performance metrics
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse:.2f}')

# Implement your trading strategy using the predictions
positions = []
for i in range(len(y_pred)):
    if y_pred[i] > y_test[i]:
        positions.append(1)  # Long position
    else:
        positions.append(-1)  # Short position

# Calculate the strategy's returns
returns = []
for i in range(1, len(positions)):
    if positions[i] == 1:
        returns.append(y_test[i] - y_test[i-1])
    elif positions[i] == -1:
        returns.append(y_test[i-1] - y_test[i])
    else:
        returns.append(0)

# Calculate the strategy's performance metrics
strategy_return = sum(returns)
print(f'Strategy Return: {strategy_return:.2f}')

ModuleNotFoundError: No module named 'tensorflow'